.main-img {
  margin-top: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-container {
  margin: 0 auto;
  position: relative;
  padding-top: $padding-format;
  padding-left: $padding-format;
  padding-bottom: $padding-format;
  padding-right: $padding-format; 
  width: $width-format;
}

.spotify {
  color: $color-corporate;
  text-decoration: none;
}

.spotify i {
  font-size: 40px;
  margin-top: 10px;

  &:hover { color: mixColor($color-corporate, $spotify-color); }
}

.playlist {
  font-size: 34px;
  font-family: $font-family-sans-serif;
  color: $color-corporate;
  text-transform: uppercase;
  
  &:hover { color: mixColor($color-corporate, $spotify-color); }
}


@supports (display: grid) {

  @media (min-width: 672px) and (min-height: 432px) {

    .main-container {
      max-width: none;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 200px;
      grid-template-rows: 1fr 1fr 1fr 80px;
    }
    
    .main-container h1 {
      grid-area: 1 / 4 / 5 / 5;
      writing-mode: vertical-rl;
      font-size: 80px;
      text-align: center;
    }

    .main-container p {
      margin-bottom: initial;
      padding-top: $padding-format + 5;
      padding-left: $padding-format + 5;
      padding-bottom: $padding-format + 5;
      padding-right: $padding-format + 5; 
      z-index: 2;
      align-self: end;
      grid-area: 3 / 2 / 4 / 4;
      background-color: $white-color;
    }

    .main-container img {
      grid-area: 1 / 1 / 5 / 4;
      margin-top: 0;
    }

    .button-1 {
      z-index: 2;
      grid-area: 4 / 2 / 5 / 3;
    }

    .button-2 {
      z-index: 2;
      grid-area: 4 / 3 / 5 / 4;
    }

    .spotify {
      z-index: 2;
      grid-area: 2 / 2 / 3/ 3;
    }

    .spotify i {
      color: $white-color;
      font-size: 300px;
    }
    
    .playlist { 
      color: transparent;
      &:hover { color: transparent !important; }
    }

  }
}