* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  width: 50px;
  height: auto;

  @media (min-width: $mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: $uoc-corporate;

  @media (min-width: $mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

nav {
  width: 100%;
  margin: 0 auto;
  height: 80px;
  background-color: #fff;
}

.header-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container-header {
  width: 85%;
  margin: 0 auto;
  position: relative;
  padding: 1em;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
}



.footer {
  background-color: #fff;
  height: 50px;
}

.footer a {
  text-decoration: none;
  color: #000;  
  font-size: 10px;
}

.footer ul {
  text-align: center;
}

.footer ul li{
  display: inline-block;
  margin-top: 20px;
  padding-right: 18px;
  text-align: center;
}

.footer p {
  width: 85%;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  color: #000;
  font-weight: bold;
}

.footer ul li i {
  width: 30px;
  font-size: 20px;
}

// Header 

.button-1 {
  border: 0;
  font-size: 100%;
}

.button-2 {
  border: 0;
  font-size: 100%;
}

// fallback code for older browsers

@supports (display: grid) {
  // code for newer browsers
  // including overrides of the code above, if needed
  @media (min-width: 42em) and (min-height: 27em) {

  .container-header{
    max-width: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 200px;
    grid-template-rows: 1fr 1fr 1fr 50px;
  }
  
  .container-header h1 {
    grid-area: 1 / 4 / 5 / 5;
    writing-mode: vertical-rl;
    font-size: 80px;
    text-align: center;
  }

  .container-header p {
    grid-area: 3 / 2 / 4 / 4;
    align-self: end;
    margin-bottom: initial;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    z-index: 2;
    background-color: #fff;
  }

  .container-header img {
    grid-area: 1 / 1 / 5 / 4;
  }

  .button-1 {
    grid-area: 4 / 2 / 5 / 3;
  }

  .button-2 {
    grid-area: 4 / 3 / 5 / 4;
  }

  }
}
