<footer class="container-footer d-block mt-5 mb-0 mx-auto text-center w-75">
  <p>If you want to contact us, you can do it via social media or mail:</p> <p><a class="text-decoration-none text-dark effect" href="#"> <i class="fa-regular fa-envelope"></i> guitarmusic@guitarmusic.com </a> </p>
  <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <ul class="nav col-md-4 justify-content-start">
      <li class="nav-item"><a class="nav-link px-2 text-dark effect" href="./index.html">Home</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-dark effect" href="./members.html">Members</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-dark effect" href="./blog.html">Blog</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-dark effect" href="./songs.html">Songs</a></li>
    </ul>
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <span class="bi me-2" width="40" height="32"><img src="./assets/images/logotipo.png" width="40"></span>
    </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-dark"><i class="fa-brands fa-facebook"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-dark"><i class="fa-brands fa-twitter"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-dark"><i class="fa-brands fa-instagram"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-dark"><i class="fa-brands fa-tiktok"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-dark"><i class="fa-brands fa-youtube"></i></a></li>
    </ul>
  </div>
</footer>