@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$color-corporate: #353232;
$padding-format: 15px;
$margin-format: 10px;
$width-format: 85%;
$white-color: #fff;
$spotify-color: #009E32;

$theme-colors: (
 "dark": $color-corporate,
 "white": $white-color,
 "active": $color-corporate,
);